In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
conn_string = "postgresql://root:root@172.24.0.2:5432/test"

In [ ]:
engine = create_engine(conn_string)
engine.connect()

In [ ]:
df = pd.read_csv('Combined_set.csv')

In [ ]:
#df.head()

In [ ]:
df.dtypes

In [ ]:
df['transaction_datetime'] = pd.to_datetime(df['transaction_datetime'])

In [ ]:
df.dtypes

In [ ]:
#df.to_sql(name='test_data',con=engine, if_exists='replace')

In [ ]:
#working with sql_xlsx

In [ ]:
df = pd.read_excel('sql_extract.xlsx')

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
# Drop the column 'user_id.1'
df = df.drop(columns=['user_id.1'])

In [ ]:
df.to_sql(name='test_data_two', con=engine, if_exists='replace')